<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.socket.dekaneh">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.socket.dekaneh.application.DekanehApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service android:name=".DockaanFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.socket.dekaneh.activity.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.socket.dekaneh.activity.registration.RegistrationActivity">

        </activity>
        <activity
            android:name="com.socket.dekaneh.activity.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name="com.socket.dekaneh.activity.product_details.ProductDetailsActivity" />
        <activity android:name="com.socket.dekaneh.activity.category_details.CategoryDetailsActivity" />
        <activity android:name="com.socket.dekaneh.activity.cart.CartActivity" />
        <activity android:name="com.socket.dekaneh.activity.settings.SettingsActivity" />
        <activity android:name="com.socket.dekaneh.activity.manufacturer.ManufacturerActivity" />
        <activity android:name="com.socket.dekaneh.activity.rating.RatingActivity" />
        <activity android:name="com.socket.dekaneh.activity.order_details.OrderDetailsActivity" />
        <activity android:name="com.socket.dekaneh.activity.NotificationsActivity"/>
    </application>

</manifest>