<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.socket.dekaneh">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".application.DekanehApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning"
        android:screenOrientation="portrait">
        <service android:name=".DockaanFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.registration.RegistrationActivity" />
        <activity
            android:name=".activity.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".activity.product_details.ProductDetailsActivity" />
        <activity android:name=".activity.category_details.CategoryDetailsActivity" />
        <activity android:name=".activity.cart.CartActivity" />
        <activity android:name=".activity.settings.SettingsActivity" />
        <activity android:name=".activity.manufacturer.ManufacturerActivity" />
        <activity android:name=".activity.rating.RatingActivity">
            <intent-filter>
                <action android:name="rating" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.order_details.OrderDetailsActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity android:name=".activity.favorite.FavoriteActivity" />
        <activity android:name=".activity.featured_products.FeaturedProductsActivity"></activity>
    </application>

</manifest>